In [1]:
import mysql.connector

CONNECT TO THE MYSQL DATABASE

In [6]:
import mysql.connector
from mysql.connector import Error
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

try:
    # Get database credentials from environment variables
    conn = mysql.connector.connect(
        host=os.getenv("MYSQL_HOST"),
        user=os.getenv("MYSQL_USER"),
        password=os.getenv("MYSQL_PASSWORD"),
        database=os.getenv("MYSQL_DB")
    )
    
    if conn.is_connected():
        mycursor = conn.cursor()
        print("Connection established")
except Error as e:
    print(f"Connection error: {e}")
finally:
    if conn.is_connected():
        mycursor.close()
        conn.close()
        print("MySQL connection is closed")

Connection established

CREATE DATABASE

In [4]:
mycursor.execute("CREATE DATABASE crud_python")
conn.commit()
print("DATABASE CREATED")

DATABASE CREATED

CREATE TABLE

In [7]:
mycursor.execute(
    """
    CREATE TABLE customers(
    id INTEGER PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(50) NOT NULL,
    age INTEGER
    )

    """)
conn.commit()
print("Table is created")

Table is created

INSERT DATA INTO TABLE

In [9]:
mycursor.execute(
    """
       INSERT INTO customers VALUES
       (1,"Anil","anil@gmail.com",40),
       (2,"Rahul","rahul@gmail.com",30),
       (3,"Neha","neha@gmail.com",28),
       (4,"Nidhi","nidhi@gmail.com",23),
       (5,"Rohit","rocky@gmail.com",22)
    """
)
conn.commit()
print("Rows are inserted")

Rows are inserted

READ DATA BASED ON ID

In [11]:
mycursor.execute("select * from customers where id =3")
myresult = mycursor.fetchall()
print (myresult)

[(3, 'Neha', 'neha@gmail.com', 28)]

In [12]:
mycursor.execute("select * from customers")
myresult = mycursor.fetchall()
print (myresult)

[(1, 'Anil', 'anil@gmail.com', 40), (2, 'Rahul', 'rahul@gmail.com', 30), (3, 'Neha', 'neha@gmail.com', 28), (4, 'Nidhi', 'nidhi@gmail.com', 23), (5, 'Rohit', 'rocky@gmail.com', 22)]

UPDATE DATA IN A TABLE

In [13]:
mycursor.execute("update customers set age = 27 where id =3")
conn.commit()
print("updated")

updated

In [14]:
mycursor.execute("select * from customers ")
myresult = mycursor.fetchall()
print (myresult)

[(1, 'Anil', 'anil@gmail.com', 40), (2, 'Rahul', 'rahul@gmail.com', 30), (3, 'Neha', 'neha@gmail.com', 27), (4, 'Nidhi', 'nidhi@gmail.com', 23), (5, 'Rohit', 'rocky@gmail.com', 22)]

DELETE DATA FROM A TABLE

In [15]:
mycursor.execute("delete from customers where id = 1")
conn.commit()
print("deleted")

deleted

In [16]:
mycursor.execute("select * from customers ")
myresult = mycursor.fetchall()
print (myresult)

[(2, 'Rahul', 'rahul@gmail.com', 30), (3, 'Neha', 'neha@gmail.com', 27), (4, 'Nidhi', 'nidhi@gmail.com', 23), (5, 'Rohit', 'rocky@gmail.com', 22)]